<h1>Editing verificacion</h1>

<%= render "form", verificacion: @verificacion %>

<br>

<div>
  <%= link_to "Show this verificacion", @verificacion %> |
  <%= link_to "Back to verificacions", verificacions_path %>
</div>
