<h1>Editing pases turistico</h1>

<%= render "form", pases_turistico: @pases_turistico %>

<br>

<div>
  <%= link_to "Show this pases turistico", @pases_turistico %> |
  <%= link_to "Back to pases turisticos", pases_turisticos_path %>
</div>
